<div>
    <mat-toolbar color="primary">

        <span class="">You are online</span>

        <span class="float-right">
    <button mat-icon-button (click)="logout()">Logout</button>
    </span>
    </mat-toolbar>

    <mat-menu class="menu" #menu="matMenu" yPosition="above">
        <div>
            <button mat-menu-item>buttin 1</button>
            <button mat-menu-item>buttin 2</button>
        </div>

    </mat-menu>

    <mat-card id="new-message">
        <p style="color:blue">New message </p>
        <p style="color: red"> {{newMessageArrived['from']}}: {{newMessageArrived['message']}} </p>
        <!--<div *ngFor="let user of liveUsers" (click)="changeChatWindowTo(user)">
      {{user}}
    </div>-->
    </mat-card>

    <mat-card id="chat">
        <mat-card-title class="chat-header">
            {{currentChatUser}}
        </mat-card-title>
        <mat-card-content>
            <div class="chat-content" #scrollChat>
                <div access='ad' *ngFor="let messageObj of currentChatMessages" #messageDiv id="messageDiv">
                    <mat-card *ngIf="messageObj.from == myname; else otherContent" style="background-color:aqua" class="chatBox">
                        <p class="myMessage">{{messageObj.message}}</p>
                        <p class="myMessagetime">{{messageObj.time | date:'medium'}}</p>
                    </mat-card>
                    <ng-template #otherContent>
                        <mat-card *ngIf="(messageObj.from != myname)" style="background-color:cornflowerblue" class="chatBox">
                            <p class="otherName">{{messageObj.from}}</p>
                            <p class="otherMessage">{{messageObj.message}}</p>
                            <p class="otherTime">{{messageObj.time | date:'medium'}}</p>
                        </mat-card>
                    </ng-template>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <div #scrollFooter>
                <textarea [(ngModel)]="messageText" autofocus></textarea>
                <button id="sendButton" (click)="sendMessage()" mat-fab>
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </mat-card-footer>
    </mat-card>

    <mat-card class="users">
        <mat-card>Users list</mat-card>
        <mat-card *ngFor="let user of liveUsers" (click)="changeChatWindowTo(user)" style="background-color:chocolate">
            <button mat-menu-item (click)="changeChatWindowTo(user)" onclick="removeChilds()">{{user}}</button>
        </mat-card>
    </mat-card>