@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
    padding: 10px;
}
.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}
.float-right {
    position: absolute;
    right: 5%;
    float: right
}
mat-card-title {
    background-color: antiquewhite;
    width: 100%;
    font: bold;
    color: darkblue
}
textarea,
sendButton {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}
textarea {
    /*margin: 0% 0% 0% 3px;*/
    
    width: 75%;
    overflow: hidden;
    border: 1px saddlebrown solid;
    resize: none;
}
.chat-header {} .chat-footer {
    height: 20px;
    width: 40%;
}
#sendButton {
    /*position: absolute;*/
    
    widows: 20%;
    float: right;
    animation: none;
}
#new-message {
    background-color: antiquewhite;
}
.mat-menu-content {
    position: absolute;
    top: 18%;
}
.cdk-overlay-container {
    position: absolute;
    top: 10%;
}
.myMessagetime {
    font-size: 10px;
    text-align: right;
}
.myMessage {
    font-size: 15px;
    text-align: right;
    word-wrap: break-word;
}
.otherName {
    font-size: 10px;
    text-align: left;
}
.otherMessage {
    font-size: 15px;
    text-align: left;
    word-wrap: break-word;
}
.otherTime {
    font-size: 10px;
    text-align: left;
}


@media screen and (max-width: 992px) and (min-width: 0px) {
    /*Mobile*/
    /*ipad*/
    
    #chat {
        width: 100%;
        height: 350px;
    }
    .users {
        margin-top: 14%;
        width: 100%;
        height: 420px;
        overflow-y: scroll;

    }
    mat-card-footer {
        /*position: fixed;*/
        
        position: fixed;
        bottom: 5%;
        width: 90%;
        z-index: 1000;
    }
    mat-card {
        padding: 2px;
        margin: 1em auto;
    }
    .chat-content {
        /*overflow-x: scroll;*/
        
        overflow-y: scroll;
        height: 350px;
    }
}
@media screen and (max-width: 8000px) and (min-width: 992px) {
    /*Laptop*/
    /*large screens*/
    
    #chat {
        width: 40%;
        height: 450px;

        
        float: left;
        margin-left: 10%;
    }
    #chat,
    mat-card {
        box-shadow: none;
    }
    .users {
        width: 30%;
        height: 420px;
        overflow-y: scroll;
        /*overflow: hidden;*/
        
        float: right;
        margin-right: 10%;
    }
    .container {
        width: 90%;
        height: 420px
    }
    mat-card-footer {
        /*position: fixed;*/
        
        position: fixed;
        bottom: 5%;
        width: 40%;
    }

    
    mat-card {
        padding: 5px;
        margin: 1em auto;
    }
    .chat-content {
        /*overflow-x: scroll;*/
        
        overflow-y: scroll;
        height: 400px;
    }
}