<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style>
        label {
            /* Other styling.. */
            
            text-align: right;
            clear: both;
            float: left;
            margin-right: 15px;
        }
        @media screen and (max-width: 992px) and (min-width: 0px) {
            /*Mobile*/
            /*ipad*/
            
            .container {
                margin: 46% 0%;
            }
            .heading {
                /*position: absolute;*/
                
                top: 5%;
                width: 100%;
            }
            .heading-text {
                font-size: 22px;
            }
        }
        @media screen and (max-width: 8000px) and (min-width: 992px) {
            /*Laptop*/
            /*large screens*/
            
            .container {
                margin: 12% 6%;
            }
            .heading {
                /*position: absolute;*/
                
                top: 5%;
                width: 100%;
            }
            .heading-text {
                font-size: 40px;
            }
            .form-div {
                width: 50%;
            }
        }
    </style>
</head>

<body class="container">
    <div class=" container-fluid heading">
        <h2 class="center text-center heading-text">Please Login to chat unlimited</h2>
    </div>
    <div class="container-fluid text-center form-div">
        <div class="form-group">
            <label for="email">Unique user name</label>
            <input type="email" class="form-control" id="username" placeholder="Enter username" name="email">
        </div>

        <div class="form-group">
            <label for="orgName">Your Org name</label>
            <input type="email" class="form-control" id="OrgName" placeholder="Enter org name" name="email">
        </div>
        <div class="'control-group'">
            <div class="controls">
                <button class="btn btn-success" onclick="submit()">Login</button>
            </div>
        </div>
    </div>
    <script>
        function submit() {
            var name = document.getElementById("username").value;
            var orgName = document.getElementById("OrgName").value;
            var body = {
                username: name,
                orgName: orgName
            }

            if (name == undefined || name == null || name == '' || orgName == undefined || orgName == null || orgName == '') {
                window.alert("Feilds can't be empty.");
                return;
            }
            console.log(name + " " + orgName);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200 || this.status == 201) {
                        window.location = '/chat-app';
                    } else {
                        window.alert("Invalid username and organization combination. Please provide the same organisation name that you provided in the first run.");
                    }
                };
            }
            xhttp.open("POST", "/auth/login", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.send(JSON.stringify(body));
        }
    </script>
</body>

</html>